$color_a: #28993a;
$main_width: 1200px;

.editor-styles-wrapper {
	line-height: 1.5;
	padding: 1em;

	ol,
	ul {
		margin-bottom: 1em;
	}

	p {
		margin-bottom: 1em;
	}

	.mv_top,
	.wp-block-cover.mv_top {
		color: #f00;

		position: relative;
		width: 100vw;
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		padding-left: calc(50vw - 50%);
		padding-right: calc(50vw - 50%);
		box-sizing: border-box;


		background: linear-gradient(to right,
				rgba(255, 255, 255, 1) 0%,
				rgba(255, 255, 255, .7) 50%,
				rgba(255, 255, 255, 0) 100%);
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 2em;

		.has-background-dim {
			background: none;
		}

		.inner {
			.catch {
				font-size: 7vw;
				line-height: 1.5;
				font-weight: bold;
				margin: 0 0 .5em;

				.pc {
					display: none;
				}

				.keyword {
					color: $color_a;
				}
			}

			.lead {
				font-weight: bold;
				margin: 0 0 2em;
				padding: 0 0 0 .2em;
			}

			.wp-block-buttons {

				display: flex;
				gap: 1em;

				.wp-block-button {
					display: block;
					text-decoration: none;
					text-align: center;
					display: block;
					border-radius: 10px;
					padding: 1em;
					font-weight: bold;

					&.pt1 {
						background: $color_a;
						color: #fff;

						a {

							background: $color_a;
							color: #fff;
						}
					}

					&.pt2 {
						background: none;
						color: $color_a;
						border: 2px solid $color_a;

						a {

							background: none;
							color: $color_a;
							border: 2px solid $color_a;
						}
					}

					a {
						text-decoration: none;
						text-align: center;
						display: block;
						border-radius: 10px;
						padding: 1em;
						font-weight: bold;
					}
				}

			}

		}

	}

	.lzb-gutenberg-gallery {
		flex-wrap: nowrap;


	}

	ul.app-screenshots {
		display: flex;
		flex-wrap: nowrap;


		padding: 0;
		border: none;


		li {
			list-style: none;


			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}

	}

	h2 {
		font-size: 1.5em;
		margin: 3em 0 1.5em;
	}


	.body {
		p {
			margin: 0 0 2em;
		}
	}

	.title {
		text-align: center;
		margin-bottom: 1em;
	}

	.mission {
		padding: 5em 0;
		margin-top: 0;
	}

	.about {
		h3 {
			font-size: 1.5em;
			margin-bottom: 1em;
		}

		.is-layout-flex {
			align-items: start;
			gap: 50px;

			&>* {
				flex: 1;
			}
		}

		.wp-block-image img {

			border-radius: 20px;
		}

		p {
			margin-bottom: 1em;
		}

		.sign {
			margin-top: 2em;
		}
	}

	.app {
		.app_list_wrap {
			display: flex;
			justify-content: space-between;
			gap: 2em;

			.app_list_item {
				flex: 1;
				background: #fff;
				box-shadow: 0 4px 10px 0px #ccc;
				border-radius: 30px;
				padding: 2em;

				.app_name {
					font-size: 1.5em;
					font-weight: bold;
				}

				.store_btn {
					display: flex;
					gap: 1em;

					&:not(:first-child) {
						margin-top: 1em;
					}

					p {
						flex: 1;
						background: #e5e7eb;
						text-align: center;
						border-radius: 10px;

						a {
							display: block;
							padding: .5em;
							text-decoration: none;

						}
					}
				}

			}
		}
	}

	.news {
		h2 {}

		.column {
			display: flex;

			.press {
				flex: 1;

				h3 {
					display: block;
					margin-bottom: 1em;
				}

				ul {
					list-style: none;
					padding: 0;

					li {
						margin-bottom: 2em;

						&:nth-child(odd) a {
							border-left: 5px solid $color_a;
						}

						&:nth-child(even) a {
							border-left: 5px solid orange;
						}

						a {
							padding: 1em 1.5em;
							display: block;
							text-decoration: none;

							time {
								color: #6b7280;
							}

							h4 {
								font-weight: bold;
								color: #1f2937;
							}
						}
					}
				}

				.more {

					display: block;
					border: 2px solid green;
					border-radius: 50px;
					padding: .5em 2em;
					font-size: 1em;
					text-align: center;
					color: green;
					text-decoration: none;
					font-weight: bold;
					width: fit-content;
					margin: 0 auto;

					&:hover {
						background: green;
						color: #fff;
					}

				}
			}

			.update {
				flex: 1;

				h3 {
					margin-bottom: 1em;
				}

				.update_bg {
					background: #f4f6f7;
					border-radius: 20px;
					padding: 2em;

					ul {
						padding: 0;

						li {
							display: flex;
							margin-bottom: 1.5em;

							&::before {
								content: "●";
								padding-right: 1em;

							}

							&:nth-child(even)::before {

								color: green;
							}

							&:nth-child(odd)::before {

								color: orange;
							}

							a {
								text-decoration: none;

								time {}
							}
						}
					}

					margin-bottom: 2em;
				}

				.more {
					display: block;
					border: 2px solid green;
					border-radius: 50px;
					padding: .5em 2em;
					font-size: 1em;
					text-align: center;
					color: green;
					text-decoration: none;
					font-weight: bold;
					width: fit-content;
					margin: 0 auto;

					&:hover {
						background: green;
						color: #fff;
					}

				}
			}
		}
	}

	.wp-element-button,
	.wp-block-button__link {
		background: green;
		border-radius: 10px;
	}

	.btn01 {
		margin: 2em 0;

		a {
			display: block;
			background: $color_a;
			color: #fff;
			text-align: center;
			padding: 1em;
			border-radius: 10px;
			width: fit-content;
			margin: 0 auto;
			text-decoration: none;
		}
	}

	.bg01 {
		position: relative;
		background-color: #EEECE1;
		width: 100vw;
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		padding-left: calc(50vw - 50%);
		padding-right: calc(50vw - 50%);
		padding-top: 5em;
		padding-bottom: 5em;
		margin-top: 5em;
		margin-bottom: 5em;
		box-sizing: border-box;
	}

	.bg02 {
		background: linear-gradient(to bottom right, #28993a, #F2AB37);
		position: relative;
		width: 100vw;
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		padding-left: calc(50vw - 50%);
		padding-right: calc(50vw - 50%);
		padding-bottom: 5em;
		padding-top: 5em;
		margin-bottom: 5em;
		box-sizing: border-box;
		color: #fff;
		text-align: center;

		&:not(:first-child) {
			margin-top: 5em;
		}
	}

	.bg03 {
		position: relative;
		background-color: #FFF;
		width: 100vw;
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		padding-left: calc(50vw - 50%);
		padding-right: calc(50vw - 50%);
		padding-top: 5em;
		padding-bottom: 5em;
		margin-top: 5em;
		margin-bottom: 5em;
		box-sizing: border-box;
	}

	.list01 {
		display: flex;
		gap: 1em;
		flex-wrap: wrap;

		&>.wp-block-group {
			width: 40%;
			padding: 1em;

			&>.wp-block-image {
				width: 27%;
				background: orange;
				border-radius: 1000px;
				padding: 7%;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					display: block;
					width: 100%;
					margin: 0 auto;
				}
			}

			&>h3 {
				font-weight: bold;
				margin: 1em 0 .5em;
			}

			&>p {}

		}
	}

	.list02 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2em;

		&>.wp-block-group {
			background: #fff;
			padding: 2em 2.5em;
			border-radius: 20px;
			box-shadow: 0 0 10px 0px #ddd;
		}

		.wp-block-heading {
			font-size: 1.5em;
			line-height: 1.3;
			margin-bottom: .5em;
		}

		p:has(+ ul) {
			margin-bottom: .5em;
		}
	}

	.list03 {
		list-style: none;
		padding-left: 1.5em;
		margin-bottom: 1em;

		li {
			position: relative;
			padding-left: 0;

			&::before {
				content: "✓";
				position: absolute;
				left: -1.5em;
				color: orange;
				font-weight: bold;
			}

		}


	}

	.list04 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2em;



		&>.wp-block-group {
			background: #faf5f2;
			border-radius: 10px;
			padding: 2em;

			&>.wp-block-image {
				width: 20%;
				margin: 0 auto;
				background: green;
				border-radius: 100px;
				padding: 1em;

				img {
					display: block;
					width: 100%;
				}
			}

			.wp-block-heading {
				margin: .5em auto 1em;
			}
		}

		&.col2 {
			grid-template-columns: 1fr 1fr;

			&>.wp-block-group {
				&>.wp-block-image {
					padding: 1.5em;
				}
			}
		}

		&.nowrap {
			&>.wp-block-group {

				background: none;
				padding: 0;
			}
		}
	}

	.width100 {
		width: 100vw;
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		padding-left: calc(50vw - 50%);
		padding-right: calc(50vw - 50%);
	}

	.list05 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2em;

		&>.wp-block-group {
			background: #fff;
			border-radius: 10px;
			padding: 0;
			box-shadow: 0 0 10px 0 #ddd;

			&>.wp-block-image {
				margin: 0 auto;
				border-radius: 100px;

				img {
					display: block;
					width: 100%;
					border-radius: 10px 10px 0 0;
				}
			}

			&>.wp-block-group {
				padding: 1em;

				.wp-block-heading {
					margin: .5em auto 1em;
				}
			}
		}
	}

	.band01 {
		border-radius: 10px;
		background-image: linear-gradient(90deg, green, orange);
		padding: 2em;
		margin: 2em 0;
		color: #fff;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;


		&>.wp-block-group {
			text-align: center;

			p:first-child {
				margin-bottom: .5em;
			}

			p:not(:first-child) {}

			p:last-child {
				margin-bottom: 0;
			}
		}
	}

	.block01 {
		background: #fff;
		border-radius: 10px;
		padding: 2em;
		display: grid;
		grid-template-columns: 1fr 2fr;

		&>.wp-block-group {
			&>.wp-block-group {
				display: grid;
				grid-template-columns: 1fr 12fr;
				gap: 1em;

				&:first-child {

					&>.wp-block-group {
						width: 100%;

						.wp-block-image {}
					}
				}

				p {
					margin: 0;
					padding: 0;
				}
			}
		}

		.wp-block-list {
			column-count: 2;

			&:has(li.icon) {
				margin: 0;
				padding: 0;
				list-style: none;

				$icon-list: wifi, drink, shield, game, cookie;

				@each $name in $icon-list {
					.icon_#{$name} {
						background: url("../img/icon_#{$name}.png") no-repeat left center;
					}
				}

				.icon {
					background-size: 1.2em;
					padding-left: 1.7em;
					margin-bottom: 1em;

				}

			}
		}

	}

	.block02 {
		display: flex;
		gap: 3em;
		margin-bottom: 5em;

		&:nth-of-type(even) {
			flex-direction: row-reverse;
		}

		.wp-block-image {
			flex: 1;

			img {
				border-radius: 20px;


			}
		}

		&>.wp-block-group {
			flex: 1;

			.wp-block-heading {
				margin-bottom: .5em;
			}

			.year {
				background: green;
				color: #fff;
				font-size: 0.8em;
				padding: 0 1em;
				text-align: center;
				border-radius: 100px;
				display: inline-block;
				margin: 0;
			}
		}
	}

	.regular_time {
		display: inline-block;
		background: green;
		color: #fff;
		padding: .5em 1em;
		font-size: .7em;
		border-radius: 50px;
	}

	.part_time {
		display: inline-block;
		background: orange;
		color: #fff;
		padding: .5em 1em;
		font-size: .7em;
		border-radius: 50px;

	}

	.page_404 {
		text-align: center;
		font-size: 2em;
		font-weight: bold;
	}

	.btn_ios {
		display: block;
		width: 200px;

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.editor_contact {
		background: #F7F4EF;
		padding: 1em;

		.intro {
			max-width: 700px;
		}

		.wrap {
			display: grid;
			grid-template-columns: 2fr 1fr;
			gap: 2em;

			.wp-block-contact-form-7-contact-form-selector {
				width: 100%;
			}

			.form {
				background: #fff;
				border-radius: 20px;
				box-shadow: 0 0px 5px 0 #ddd;
				padding: 2em;
				margin: 0 auto;

				br {
					display: none;
				}

				p {
					margin: 0;
				}

				h2 {
					text-align: center;
					font-weight: bold;
					margin: 1em 0;
					color: $color_a;
				}

				label {
					display: block;
					font-weight: bold;
					margin-bottom: 1em;

					&:not(:first-of-type) {
						margin-top: 2em;
					}

					input[type="text"],
					input[type="tel"],
					input[type="email"] {
						font-weight: normal;
						display: block;
						margin-top: .5em;
						border-radius: 10px;
						border: 1px solid #d1d5db;
						padding: .5em 1em;
						width: 100%;
						box-sizing: border-box;

						&:focus {
							border: 2px solid green;
						}
					}
				}

				.wpcf7-select {
					border: 1px solid #ccc;
					border-radius: 10px;
					padding: 1em;
					width: 100%;

					&:focus {
						border: 2px solid green;
					}
				}

				fieldset {
					padding: 1em 0;
					margin-top: 2em;
					margin-bottom: 1em;
					border: none;

					legend {
						font-weight: bold;
					}

					.wrap {
						display: flex;
						flex-wrap: wrap;

						label {
							flex: 1;
							display: flex;
							align-items: center;
							margin: 0;

							input[type="checkbox"] {
								appearance: none;
								width: 1.25rem;
								height: 1.25rem;
								border: 2px solid #28993a;
								border-radius: 4px;
								position: relative;
								margin-right: .5em;
								cursor: pointer;

								&:checked {
									background: #28993a;

									&::after {
										content: '✓';
										position: absolute;
										top: 50%;
										left: 50%;
										transform: translate(-50%, -50%);
										color: white;
										font-size: 0.875rem;
										font-weight: bold;
									}

								}
							}

						}
					}
				}

				textarea {
					display: block;
					border: 1px solid #d1d5db;
					border-radius: 10px;
					padding: 1em;
					margin-top: .5em;
					width: 100%;
					height: 200px;
					font-weight: normal;
					box-sizing: border-box;

					&:focus {
						border: 2px solid green;
					}
				}

				input[type="submit"] {
					display: block;
					width: 100%;
					padding: .5em 1em;
					margin: 1em auto 0;
					background: green;
					border-radius: 10px;
					color: #fff;
				}


			}

			.info {

				&>.wp-block-group {
					background: #fff;
					padding: 2em;
					border-radius: 20px;
					box-shadow: 0 0px 5px 0 #ddd;

					&>.wp-block-group {
						display: flex;
						align-items: flex-start;
						gap: 1em;

						[class^="icon-"] {
							background: #ffa5001a;
							color: orange;
							padding: .5em;
							border-radius: 10px;
							font-size: 1.5em;
							margin: 0;

						}

						&:nth-child(odd) {
							[class^="icon-"] {
								background: #28993a1a;
								color: green;
							}
						}

						&>.wp-block-group {
							width: 100%;
							margin-bottom: 2em;

							p {
								margin-bottom: 0;
							}
						}
					}


				}

				.notice {
					margin-top: 2em;
					background: #28993a;
					padding: 2em;
					border-radius: 20px;
					color: #fff;

				}
			}
		}
	}

}