$color_a: #28993a; // アクセントカラー
$main_width: 1200px;

html {
	body {
		font-family: "Zen Kaku Gothic New", sans-serif;
		font-weight: 500;
		font-style: normal;

		color: #374151;
		font-size: 16px;
		line-height: 1.8;

		display: flex; // footerを下に固定のため
		flex-direction: column; // footerを下に固定のため
		min-height: 100vh; // footerを下に固定のため

		a {
			color: #374151;
		}

		ul {
			list-style: none;
		}

		&:not(.home) h1 {
			padding: 3em 1em;
		}

	}
}

header {
	background: #F7F4EF;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	margin: 0 auto;

	.site_name_top {
		margin: 0;
		padding: 0;
	}

	// ハンバーガーボタンはPC版では非表示
	.hamburger {
		display: none;
	}

	nav {
		position: static;
		width: auto;
		height: auto;
		background: none;
		box-shadow: none;

		ul {
			display: flex;
			list-style: none;
			padding: 0;

			li {
				flex: 1;
				white-space: nowrap;
				padding: 0 1em;

				&.sp {
					display: none;
				}

				a {
					text-decoration: none;
					padding: 0;

					&:hover {
						color: $color_a;
					}
				}
			}
		}
	}
}

.mv_top {
	background: linear-gradient(to right,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, .7) 50%,
			rgba(255, 255, 255, 0) 100%),
		url('../img/mv.jpg') no-repeat center center / cover;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 2em;

	.inner {
		.catch {
			font-size: 7vw;
			line-height: 1.5;
			font-weight: bold;
			margin: 0 0 .5em;
			.pc{
				display: none;
			}
			.keyword {
				color: $color_a;
			}
		}

		.lead {
			font-weight: bold;
			margin: 0 0 2em;
			padding: 0 0 0 .2em;
		}

		nav {
			ul {
				display: flex;
				gap: 1em;

				li {
					a {
						text-decoration: none;
						text-align: center;
						display: block;
						border-radius: 10px;
						padding: 1em;
						font-weight: bold;

						&.pt1 {
							background: $color_a;
							color: #fff;
						}

						&.pt2 {
							background: none;
							color: $color_a;
							border: 2px solid $color_a;
						}

					}
				}
			}
		}
	}
}

main {
	max-width: $main_width;
	margin: 0 auto;
	padding: 0 2em;

	&.front-page {

		.mission {
			padding: 5em 1em;

			.title {
				text-align: center;
				margin-bottom: 1em;
			}

			.catch {
				font-size: 2.5em;
				text-align: center;
				margin: 0 0 1.5em;
			}

			.body {
				p {
					margin: 0 0 2em;
				}
			}
		}
	}
}

footer {
	background: #F7F4EF;
	margin-top: auto; // footerを下に固定のため

	.inner {
		padding: 2em 0;
		max-width: $main_width;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		.company_info {
			.catch {}

			.logo {}

			.company_name {}

			address {
				font-style: normal;
			}
		}

		nav {
			ul {
				li {
					a {
						text-decoration: none;
					}
				}
			}
		}
	}
}