header {
  background: #F7F4EF;
  display: block;
  padding: 10px;
}
header .site_name_top {
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
}
header nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
header nav ul li {
  flex: 1;
  text-align: center;
}